<div class="api-resource">
    <h3>{{parentUri}}{{relativeUri}}</h3>
    <div class="resource-description">
        {{description}}
    </div>

    <div class="api-resource-methods">
        {{> components/tabs panels=tabs}}
        <div class="tab-content">
        {{#each tabs}}
            {{#> components/tabpanel}}
            <h4>Example Request</h4>

            <div class="example-request">
                <code>{{label}} {{method.exampleUri}}</code>

                {{#if method.exampleRequestBody}}
                <pre>
                    <code class="language-json">
                        {{method.exampleRequestBody}}
                    </code>
                </pre>
                {{/if}}
            </div>

            <div class="example-responses">
                {{#each method.responses}}
                <div class="example-response">
                    <h5>{{code}}</h5>
                    {{#each contentTypes}}
                    <h6>{{contentType}}</h6>

                    <pre>
                        <code class="language-{{contentType}}">
                            {{example}}
                        </code>
                    </pre>
                    {{/each}}
                </div>
                {{/each}}
            </div>
            {{/components/tabpanel}}
        {{/each}}
        </div>
    </div>

    {{#if resources}}
    <div class="api-sub-resources">
        {{#each resources}}
            {{> resource-summary parentUri=../relativeUri}}
        {{/each}}
    </div>
    {{/if}}
</div>
