<div class="api-resource">
    <h3>{{parentUri}}{{relativeUri}}</h3>
    <div class="resource-description">
        {{description}}
    </div>

    <div class="api-resource-methods">
        {{> components/tabs panels=tabs}}
        <div class="tab-content">
        {{#each tabs}}
            {{#> components/tabpanel}}
            <h4>Example Request</h4>

            <div class="example-request">
                <code>{{label}} {{method.exampleUri}}</code>

                {{#if method.body}}
                <h4>Request Body</h4>
                {{/if}}

                {{#each method.body}}
                <h5>{{contentType}}</h5>

                <h6>Example</h6>
                <pre>
                    <code class="language-javascript">
                        {{example}}
                    </code>
                </pre>

                {{#if schema}}
                <h6>Schema</h6>
                <pre>
                    <code class="language-javascript">
                        {{schema}}
                    </code>
                </pre>
                {{/if}}
                {{/each}}
            </div>

            <div class="example-responses">
                {{#each method.responses}}
                <div class="example-response">
                    <h5>{{code}}</h5>
                    {{#each contentTypes}}
                    <h6>{{contentType}}</h6>

                    <h6>Example</h6>
                    <pre>
                        <code class="language-{{languageFromContentType contentType}}">
                            {{example}}
                        </code>
                    </pre>

                    {{#if schema}}
                    <h6>Schema</h6>
                    <pre>
                        <code class="language-{{languageFromContentType contentType}}">
                            {{schema}}
                        </code>
                    </pre>
                    {{/if}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
            {{/components/tabpanel}}
        {{/each}}
        </div>
    </div>

    {{#if resources}}
    <div class="api-sub-resources">
        {{#each resources}}
            {{> resource-summary parentUri=../relativeUri}}
        {{/each}}
    </div>
    {{/if}}
</div>
