<div class="api-resource">
    <h2>{{parentUri}}{{relativeUri}}</h2>
    <div class="resource-description">
        {{description}}
    </div>

    <div class="api-resource-methods">
        <ul class="nav nav-tabs">
            {{#each methods}}
            <li class="nav-item">
                <a href="#{{slug ../displayName}}-{{method}}" class="nav-link"
                   role="tab" data-toggle="tab">{{method}}</a>
            </li>
            {{/each}}
        </ul>
        <div class="tab-content">
            {{#each methods}}
            <div role="tabpanel" class="tab-pane" id="{{slug ../displayName}}-{{method}}">
                {{description}}
            </div>
            {{/each}}
        </div>
    </div>

    {{#if resources}}
    <div class="api-sub-resources">
        {{#each resources}}
            {{> resource-summary parentUri=../relativeUri}}
        {{/each}}
    </div>
    {{/if}}
</div>
